apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-price
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-price
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-price
    spec:
      {{- if .Values.imageRegistry.enabled }}
      imagePullSecrets:
        - name: {{ .Release.Name }}-registry-secret
      {{- end }}
      containers:
        - name: {{ .Release.Name }}-price
          image: {{ .Values.price.image }}
          env:
            - name: PROVIDER
              value: {{ .Values.price.provider }}      
          resources:
            limits:
              cpu: "1"
              memory: 512Mi
            requests:
              cpu: "0.05"
              memory: 256Mi
          ports:
          - containerPort: 5001