name: Create and publish the price service

# Configures this workflow to run every time a change is pushed to main.
on:
  push:
    branches:
      - main
    paths:
      - price/**
jobs:
  build-and-push-image:
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      packages: write
    uses: ./.github/workflows/base_build_image.yaml
    with:
      registry: ghcr.io
      image_name: klustercost-price
    secrets: 
      token: ${{ secrets.GITHUB_TOKEN }}
